@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes shake {
    0% {
        transform: rotate(0);
    }

    /* тряска */
    10% {
        transform: rotate(-5deg);
    }

    20% {
        transform: rotate(5deg);
    }

    30% {
        transform: rotate(-5deg);
    }

    40% {
        transform: rotate(5deg);
    }

    /* пауза */
    50% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(0);
    }
}