@use '/src/sass/base/variables.scss' as *;

@mixin title {
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    line-height: normal;
    color: $dark;
    text-align: center;
}

@mixin button {
    display: block;
    padding: 0 10px;
    background-color: transparent;
    border: 1px solid $dark;
    border-radius: 2px;
    text-align: center;
    line-height: normal;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: $dark;
}