@use '/src/sass/base/variables.scss' as *;

.catalog {
    padding-top: 50px;

    &__title {
        margin-top: 60px;
    }

    &__tabs {
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
        row-gap: 13px;
        margin-top: 60px;
        border: 1px solid $dark;
        padding: 13px 25px;
    }

    &__tab {
        position: relative;
        border: none;
        background: none;
        padding: 0;
        font-weight: 500;
        font-size: 20px;
        text-transform: uppercase;
        color: #000;

        &_active::before {
            content: '';
            position: absolute;
            width: 100%;
            background-color: #000;
            height: 1px;
            bottom: -1px
        }
    }

    &__content {
        margin-top: 60px;

        &-item {
            flex-direction: column;
            row-gap: 20px;
        }

        &-card {
            box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
            background: $light;

            .card__info {
                border: 1px solid $dark;
                border-top: none;
                padding: 11px 12px 17px 12px;
            }

            .card__img {
                width: 100%;
            }

            .card__text {
                font-weight: 500;
                font-size: 16px;
                color: #000;
                word-break: break-word;
            }

            .card__price {
                margin-top: 8px;
                font-weight: 500;
                font-size: 16px;
                color: #000;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .catalog {

        &__tabs {
            width: 460px;
        }

        &__content {
            position: relative;
            padding: 10px 10px 0 10px;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 200px;
                height: 1px;
                background-color: $dark;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 1px;
                height: 200px;
                background-color: $dark;
            }

            &-item {
                align-items: flex-start;
                flex-direction: row;
                flex-wrap: wrap;
                column-gap: 20px;
            }

            &-card {
                width: 340px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .catalog {
        &__content {
            padding: 25px 25px 0 25px;

            &-item {
                column-gap: 35px;
                row-gap: 35px;
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .catalog {
        padding-top: 40px;

        &__title {
            margin-top: 100px;
        }

        &__content {
            &-item {
                column-gap: 83px;
                row-gap: 25px;
            }

            &-card {
                width: 285px;
                min-height: 250px;

                .card__img {
                    height: 180px;
                }

                .card__info {
                    padding: 10px 10px 15px 10px;
                }

                .card__price {
                    margin-top: 7px;
                }
            }
        }
    }
}